@font-face {
    font-family: 'regularFont';
    src: url('../fonts/dinpro-regular.ttf') format('truetype'),
         url('../fonts/dinpro-regular.svg#dinpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mediumFont';
    src: url('../fonts/dinpro-bold.ttf') format('truetype'),
         url('../fonts/dinpro-bold.svg#dinpro-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'boldFont';
    src: url('../fonts/gotham-bold.ttf') format('truetype'),
         url('../fonts/gotham-bold.svg#gotham-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
html {
	font-family: 'regularFont';
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #CCC;
	width: 100vw;
	height: 100vh;
    overflow-x: hidden !important;
}

body {
	/*background: url('assets/Bamboo_bg.jpg') center top no-repeat;*/
	/*background-size: cover;*/
    background: url("../assets/background.jpg") center top no-repeat;
    background-size: cover;
}
/*
html,
body {
    position: fixed;
    overflow: hidden;
}

.mainwrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
*/
a:active,
a:focus,
a:hover {
    text-decoration: none !important;
    outline: none !important;
}

.main-wrapper {
    width: 768px;
    height: 1024px;
    margin: 0px auto;
    position: relative;
}

#logo {
    width: 100%;
    height: 150px;
    background: url("../assets/logo.png") center center no-repeat;
    pointer-events: none;

    position: absolute;
    left: 50%;
    top: 25px;
    z-index: 1051;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#mainCanvas {
    pointer-events: none;
    z-index: 2;
}
#wheelCanvas {
    /*pointer-events: none;*/

    left: 50%;
    top: 50%;
}

#wheelCanvas.disable {
    pointer-events: none;
}

.btn{
    border: none;
    background: #fab515;
    color: white;
    line-height: 58px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;

    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
}

.btn:hover,
.btn:focus,
.btn:focus, 
.btn:active:focus, 
.btn.active:focus{
    outline: none;
    outline-offset: unset;
    color: white;
}

.btn-start {
    width: 510px;
    height: 70px;

    position: absolute;
    left: 50%;
    top: 900px;
    z-index: 3;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.btn-settings {
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background: url('../assets/icon-setting-white.png') left top no-repeat !important;

    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
}

.btn-save {
    width: 510px;
    height: 70px;
    background-size: contain !important;

    position: absolute;
    left: 50%;
    bottom: 50px;
    /*z-index: 3;*/

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

/* .modal.fade {
    background: rgba(0, 0, 0, 0.9);
} */

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: auto;
    padding: 0px 20px;
    /* background-color: green; */
    /* height: 500px; */
}

.modal-footer {
    border-top: none;
}

.modal-footer.text-center {
    text-align: center;
    padding: 0px;
    margin-top: 28px;
}

.modal-content {
    /* background: transparent; */
    box-shadow: none;
    /* color: white; */
}

.modal .flare-bg {
    width: 700px;
    height: 700px;
    background: url('../assets/bg-star.png') left top no-repeat;

    -webkit-animation: rotateStar 1s infinite linear;
    animation: rotateStar 1s infinite linear;
}
@-webkit-keyframes rotateStar {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(7deg);}
}
@keyframes rotateStar {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(7deg);}
}

.flare-bg-wrapper {
    margin-top: 50px;

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#lose h1,
#lose h4,
#win h2 {
    margin: 0px;
    text-transform: uppercase;
}

#lose h1 {
    font-family: 'mediumFont';
    font-size: 80px;
}

#lose h4 {
    font-family: 'regularFont';
    font-size: 40px;
}

#lose {
    padding: 200px 0px 120px;
}

#win h2{
    /* font-family: 'mediumFont'; */
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

#prizeDetail {
    font-family: 'boldFont';
    font-size: 26px;
    /* font-size: 80px; */
    /* line-height: 70px; */
    /* line-height: 80px; */
    text-transform: uppercase;
    /* min-height: 360px; */
    display: inline-block;
    vertical-align: middle;
    color: rgba(105, 171, 84, 1);
}

.prize-detail-wrapper:before {
    content: '';
    /* display: inline-block; */
    min-height: 160px; /* 360px; */
    vertical-align: middle;
    margin-right: -4px;
}

.btn-back {
    display: block;
    width: 250px;
    /* width: 510px; */
    height: 70px;
    margin: 0px auto;
    background-size: contain !important;
}

.btn-back,
.btn-start,
.btn-save {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-back:hover,
.btn-back:active,
.btn-start.active,
.btn-save.active {
    height: 70px;
    margin-top: 5px;
}

#settingsTab {
    display: none;
    background: #222;

    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 4;
}

#settingsTab h1{
    margin: 0px;
    font-family: 'boldFont';
    color: white;
}

.settings-header{
    padding-top: 180px;
}

.btn-close {
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background: url('../assets/icon-close-white.png') left top no-repeat;

    position: absolute;
    right: 20px;
    top: 20px;
}

.segment-selector {
    padding: 15px 0px;
}

.segment-list-wrapper {
    list-style: none;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
}

.segment-list-wrapper li {
    display: inline-block;
}

.segment-list-wrapper a {
    display: block;
    width: 48px;
    height: 30px;
    line-height: 30px;
    color: white;
    border: #666 solid 1px;
}

.segment-list-wrapper .active a {
    background: #666;
}

li.btn-segment-02 a {
    border-radius: 8px 0px 0px 8px;
}
li.btn-segment-14 a {
    border-radius: 0px 8px 8px 0px;
}

.segment-settings,
.checksum-wrapper {
    padding: 0px 40px;
}

.checksum {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}
.checksum div {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
}

.checksum .total-rate{
    color: #8BC34A;
}
.checksum .total-rate.danger {
    color: #F44336;
}

ul.segment-settings-wrapper {
    padding: 0px;
    list-style: none;
}

.segment-settings-wrapper li {
    padding: 0px 0px 10px;
}

.segment-settings-wrapper input[type="text"],
.segment-settings-wrapper input[type="number"] {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 1px 20px;
}

.segment-settings-wrapper .col-xs-1 {
    color: white;
    text-align: right;
    line-height: 26px;
}
.segment-settings-wrapper .col-xs-2.checkbox-wrapper {
    line-height: 26px;
}
.segment-settings-label {
    color: white;
}
.segment-settings-label div{
    text-indent: 20px;
}
.segment-settings-label div.text-center {
    text-indent: 0px;
}

/* =========== INSTRUCTIONS ========== */
/*  There is mainly 4 images to replace:

    /
      - app-logo.png
    /assets/
      - logo.png
      - wheel-center.png
      - wheel-pin.png

    NOTES:
    1. app-logo.png is for the app icon displayed on iPad
    2. wheel-center.png and wheel-pin.png will be used in /js/Main.js - function initWheel()
    3. logo.png define in this css file
    4. button colors or any other customization define at below

    **IMPORTANT: If you happen to rename the images, be sure to include it and update cache.manifest file in root folder.

    Enjoy and have fun adjust the css color below:;
*/
/* =========== CUSTOM THEME COLOR START =========== */
#logo {
    width: 100%;
    height: 150px;
    background: url("../assets/logo.png") center center no-repeat;
}

.btn-back,
.btn-start,
.btn-save{
    background: #fab515;
    color: white;
}





/* ========== KENT CUSTOM ========== */
body {
    /*overflow: hidden;*/
}

h1 {
    font-size: 26px;
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
}

#logo {
    position: static;
    transform: none;
    margin-top: -50px;
}

.main-wrapper {
    height: auto;
    max-width: 100%;
}

.wheel-wrapper {
    overflow: hidden;
    position: relative;
    width: 650px;
    margin: 0px auto;
    max-width: 100%;
    padding-top: 50px;
    margin-top: -60px;
}

#mainCanvas {
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#wheelCanvas {
    width: 100%;
    height: auto;
    position: static;
    margin: 25px 0px 0px !important;
    margin: 0px !important;
}

.btn-start {
    position: static;
    margin: 20px auto 0px;
    display: block;
    transform: none;
    max-width: 100%;
}

.btn-back {
    /* background-color: #5f40a3; */
    background: rgba(105, 171, 84, 1) !important;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 50px;
    width: 101px;
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto;
	font-size: 18px;
}

::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }

  
@media (max-width: 767px) {
    .main-wrapper {
        padding: 0px 10px !important;
        
    }

    .mainwrapper{
        /* padding: 0px 10px !important; */
        /* overflow-y: scroll !important; */
    }

    p.title{
        font-size: 26px;
        width: 100%;
    }
    .startpage{
        padding: 0px 10px !important;
        width: 100% !important;
    }

    .startpage .group{
        padding: 30px 10px !important;
        width: 100% !important;
    }

    .select2{
        width: 100% !important;
    }
    
    .select2-container {
        width: 100% !important;
    }
    .select2-hidden-accessible{
        width: 100%;
        position: fixed !important;
    }

    /* .select2-results__options {
        max-height: 100% !important;
        height: 100% !important;
        overflow-y: scroll !important;
    } */
    
    /* .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 9999999;
        font-size: 18px;
        -webkit-transition: all .4s;
        transition: all .4s;
    
    } */
    /* .select2-dropdown--below {
        display: block !important;
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        background: white !important;
        width: 250px !important;
        height: 100%;
        z-index: 3000 !important;
    
    } */


    

    /* .startpage .group .button { */
    .button{
        width: 100% !important;
    }

    .footer-container {
        max-width: 100% !important;
        padding: 30px 10px !important;
    }

    .modal-body{
        padding: 30px 10px !important;
    }

    .wheel-wrapper {
        margin-top: -50px;
    }

    #wheelCanvas {
        margin: -20px 0px 0px !important;
    }

    .modal:before {
        display: none;
    }

    .modal-dialog {
        margin: 0px !important;
        padding: 0px 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #win h2 {
        font-size: 30px;
    }

    #prizeDetail {
        font-size: 40px;
        line-height: 40px;
    }

    .btn-back {
        width: auto;
        max-width: 100%;
    }

    .btn-start,
    .btn-back {
        font-size: 30px;
    }
}

.card .card {
    box-shadow: none !important;
  }
  
    /* .card .card-body{
      margin-top:20px;
      background-color: bisque;
      border-radius: 20px;
      /* padding:30px 20px; */
      /* padding: 2px 50px;
      margin-left: 30px;
      margin-right: 30px; */
  /* }  */

  .details{
	/* float: right; */
	text-align: right;
  width: 300px;
  padding: 10px;
}

.leftInfo{
	text-align: left;
	width: 300px;
  padding: 10px;
}  